 * {
 	margin: 0;
 	padding: 0;
 	outline: 0;
 	box-sizing: border-box; 
 }

 html, body {
 	
 }

 body {
	 background: #2D2B55;
	 display: flex;
	 flex-direction: column;
 }

 /* CABECALHO */
 header.cabecalho {
	 background: #9EFFFF;
	 width: 100%; 
	 height: 300px;
	 display: grid;
	 grid-template-columns: repeat(1, 1fr);
 }

/* menu */
 div.menu {
	 background: #C7A033;
	 width: 100%;
	 height: 50px;
	 position: fixed;
	 display: grid;
	 grid-template-columns: 60% 40%;
 }

 div.menu .ul-menu {
	 display: grid;
	 grid-template-columns: auto auto auto;
	 align-items: center;
	 justify-content: start;
	 grid-gap: 30px;
	 padding-left: 10%;
 }
 
 .ul-menu a {
	 text-decoration: none;
	 color: white;
	 padding: 15px 10px;
	 background: red;
	 height: 100%;
 }

 .ul-menu a:hover {
	 
 }
 
 .ul-menu a li {
	 list-style: none;
	 
 }

 

 div.menu div.buscar {
	 display: flex;
	 flex-direction: row;
	 justify-self: right;
	 align-items: center;
	 padding-right: 15%;
 }

 div.buscar input[type=text] {
	 width: 180px;
	 padding: 6px;
	 background: rgba(65, 51, 13, 0.404);
     width: 70%;
     padding: 10px;
     border-style: none;
     border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
     color: white;
 }
 
 div.buscar button.buscar {
	 width: auto;
	 padding: 6px;
	 background: rgba(65, 51, 13, 0.404);
     width: auto;
     padding: 10px;
     border-style: none;
     border-bottom-right-radius: 5px;
     border-top-right-radius: 5px;
     color: white
 }


 /* CONTAINER */
 div.container {
	 background: #2D2B55;
	 width: 100%;
	 min-height: 500px;
	 display: grid;
	 grid-template-columns: auto 75%;
 }

 div.barra-esquerda {
	background: white;
	border: solid 1px;
 }

 div.centro {
	background: white;
	border: solid 1px;
 }


 /* RODAPÉ */
 footer.rodape {
	 background: #5E748B;
	 width: 100%;
	 height: 300px;
 }
